<style>
    .landing-title-container {
        {{#if layout.backgroundimage}}
            background: url({{layout.backgroundimage}}) no-repeat left center;
            background-size: cover;
        {{else if layout.background_color}}
            background: {{layout.background_color}};
        {{/if}}
    }
</style>

<div class="landing-title-container p-xl">
    <div class="container">
        <div class="row">
            <div class="text-center m-t-lg col-xs-12">
                <div class="preprint-brand"></div>
                {{#if layout.settings.useLogo}}
                    <div class="coll-hero-logo" style="{{logoStyle}}" aria-role="img"
                         aria-label="{{branding.logo.label}}"></div>
                {{else if layout.title}}
                    <h1 style="{{titleColor}}">{{layout.title}}</h1>
                {{else}}
                    <h2>{{model.title}}</h2>
                {{/if}}
                {{#if layout.tagline}}
                    <p class="lead" style="{{taglineColor}}">{{layout.tagline}}</p>
                {{else}}
                    <p class="lead" style="{{taglineColor}}">{{model.description}}</p>
                {{/if}}
            </div>
        </div>
    </div>
</div>
