<div class="coll-add-layer">
    <div class="container">
    {{# if editMode}}

    <div class="form">
        <div class="form-group">
            <label for="collectionTitle">Title</label>
            {{input class="form-control" value=modelCache.title placeholder="Enter title" id="collectionTitle"}}
        </div>
        <div class="form-group">
            <label for="collectionDescription">Description</label>
            {{textarea class="form-control" value=modelCache.description id="collectionDescription"}}
        </div>
        <div class="form-group">
            <label for="collectionTags">Tags</label>
            {{input class="form-control" value=modelCache.tags placeholder="Enter comma separated tags" id="collectionTags"}}
        </div>
        <div class="text-right">
            <button class="btn btn-default" {{action 'cancelEdit'}}>Cancel</button>
            <button class="btn btn-success" {{action 'saveEdit'}}>Save</button>
        </div>
    </div>

    {{else}}
        <h2>{{model.title}}</h2>
        <div class="m-b-md">
            {{#if model.description}}
                {{model.description}}
            {{else}}
                <span class="text-muted" {{action 'showEdit'}}>Add description </span>
            {{/if}}
        </div>
        <div class="m-b-md">
            {{#each formattedTags as |tag|}}
                <span class="coll-item-tag">{{tag}}</span>
            {{/each}}
        </div>
        <p>Created by: {{model.created-by}} </p>
        <p>Date created: {{model.dateCreatedReadable}} </p>
        <p>Date updated : {{model.dateUpdatedReadable}}</p>
        <div class="pull-right">
            <button class="btn btn-default btn-collection" {{action 'showEdit'}}> <i class="fa fa-pencil"></i> Edit</button>
        </div>
    {{/if}}

    </div>
</div>
