<div class="coll-create-header p-xl">
    <div class="text-center">
        <h2> Create a collection </h2>
    </div>
</div>
<div class="coll-create">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 m-t-lg">
                <h4>1. Add title  </h4>
                {{input class="form-control" value=title placeholder="Enter collection name"}}
            </div>
        </div>
        <hr class="soften" />
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h4>2. Select collection type</h4>
                <div class="row">
                    {{#each typeList as |type|}}
                        <div class="col-xs-3 text-center">
                            <div class="pointer m-b-md p-md box-round {{if (eq selectedType type) 'osf-box-dk' 'osf-box'}} " {{action 'updateType' type}}> {{type}}</div>
                        </div>
                    {{/each}}
                </div>

            </div>
        </div>
        <hr class="soften" />
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h4> 3. Add description <span class="text-muted">Optional </span></h4>
                {{textarea class="form-control" value=description rows="6"}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 m-t-lg text-center">
                {{#link-to 'index' class="btn btn-default"}}Cancel {{/link-to}} <button class="btn btn-primary {{unless title 'disabled'}}" {{action 'addCollection'}}>Continue</button>
            </div>
        </div>
        <div class="text-center p-t-lg">
            {{#link-to "index"}} Cancel {{/link-to}}
        </div>
    </div>
</div>
