<div class="coll-add-item">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 "><h4> Add item to collection </h4></div>
            <div class="col-sm-4 text-right">{{input class="form-control" value=searchGuid placeholder="Enter Guid"}}</div>
            <div class="col-sm-3 text-left"><button class="btn btn-success" {{action 'findNode'}}>Find</button></div>
        </div>
        {{#if loadingItem}}
            <div class="p-lg text-center">
                <div class="loader">
                    <div class="loader-inner ball-pulse ball-pulse-dark">
                      <div></div>
                      <div></div>
                      <div></div>
                    </div>
                </div>
             </div>
        {{/if}}
        {{#if findItemError}}
            <div class="p-lg text-center text-danger">
                <p>
                    {{#each findItemError as |error|}}
                        {{error.detail}}
                    {{/each}}
                </p>
                <p> Please try again or try another project ID </p>
             </div>
        {{/if}}
        {{#if showAddItemDetails}}
        <div class="coll-find-details p-md">
            <h4>Title </h4>
            <p class="m-t-sm">{{newItemNode.title}}</p>

            <h4>Description </h4>
            <p class="m-t-sm">{{newItemNode.description}}</p>

            <h4>Type </h4>
            <p class="m-t-sm">{{newItemNode.type}}</p>

            <div class="row">
                <div class="col-xs-12 text-right">
                    <button class="btn btn-success" {{action 'addToList'}}>Add to List </button>
                </div>
            </div>

        </div>
        {{/if}}
    </div>
</div>
