<div class="coll-add-choice">
    <div class="container">
        <h3> Add content </h3>
        <div class="add-panel m-t-lg p-md">
            {{#if methodSelected}}
                    <div class="pointer p-md" {{action toggleProperty 'methodSelected'}}>
                        <button class="btn btn-link">
                            <i class="fa fa-angle-left"></i>
                            Back
                        </button>
                    </div>
                    {{#if (eq addMethod 'select')}}
                        {{add-node model=model type='preprint'}}
                    {{/if}}
                    {{#if (eq addMethod 'create')}}
                        <div class="p-lg"> Create new preprint </div>
                    {{/if}}
            {{else}}
                <div class="row">
                    <div class="col-xs-6">
                        <div class="p-md add-select-method" {{action 'updateProperty' 'addMethod' 'create'}}> Create a new preprint </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="p-md add-select-method" {{action 'updateProperty' 'addMethod' 'select'}}> Add existing preprint </div>
                    </div>
                </div>
            {{/if}}
        </div>
        <div class="add-url m-t-lg">
            <h4> Add a Website </h4>
            <div class="row">
                <div class="col-sm-5">
                    {{input class="form-control" value=urlTitle placeholder="Enter Title"}}
                </div>
                <div class="col-sm-5">
                    {{input class="form-control" value=urlAddress placeholder="Enter Address"}}
                </div>
                <div class="col-sm-2"><button class="btn btn-success" {{action "addWebsite"}} >Add</button></div>
            </div>

            <div class="text-center">
                {{#each urlSaveErrors as |error|}}
                    <div class="text-danger">{{error.detail}}</div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
