{{outlet}}
<div class="container">
    <div class="coll-toolbar">
        You have {{model.length}} collections.
        {{input value=filterText key-up='filter'}}
        <!-- <input type=text placeholder="Filter collections" onkeyup={{action 'filter'}}> -->
    </div>
    <div class="coll-items">
        {{#each model as |item|}}
            <div class="coll-item">
                <h3>{{#link-to "collection" item.id}}{{item.title}}{{/link-to}}</h3>
                <p>{{item.description}}</p>
                <div>
                    {{#each item.tags as |tag|}}
                        <span class="coll-item-tag">{{tag}}</span>
                    {{/each}}
                </div>
            </div>
        {{/each}}
    </div>
</div>
