{{outlet}}
<div class="container">
    <div class="coll-toolbar row">
        <div class="col-xs-6"><h2> All collections</h2></div>
        <div class="col-xs-6">
            <div class="pull-right">{{input value=filterText key-up='filter' placeholder="Filter"}}  {{model.length}} results </div>
        </div>
        <!-- <input type=text placeholder="Filter collections" onkeyup={{action 'filter'}}> -->
    </div>
    <div class="coll-items">
        {{#each model as |item|}}
            <div class="coll-item">
                {{#link-to "collection" item.id class="btn btn-info pull-right"}}View{{/link-to}}
                <h3>{{#link-to "collection" item.id}}{{item.title}}{{/link-to}}</h3>
                <p>{{item.description}}</p>
                <div>
                    {{#each item.tags as |tag|}}
                        <span class="coll-item-tag">{{tag}}</span>
                    {{/each}}
                </div>

                <button class="btn btn-default">Open </button>

            </div>
        {{/each}}
    </div>
</div>
